<h1>Welcome! <%= @user.first_name + ' ' + @user.last_name %></h1>
<h3><%= @user.email %></h3>
<p>
    <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
    <%= link_to 'Editar', edit_user_registration_path %>
</p>
