<h1>To Do</h1>
<% if user_signed_in? %>
    Sesion ya iniciada!
<% else %>
    <%= render new_user_session_path %>
    <%= render "devise/shared/links" %>
    <%= render new_user_registration_path %>
<% end %>