<h1><%= @list.title %></h1>
<h4><%= @list.description %></h4>
<div><%= render 'tasks/partials/new' %></div>
<div>
    <% if @list.tasks %>
        <% @list.tasks.each do |task| %>
            <div>
                <h5>task.title</h5>
                <p>task.definition</p>
                <p>editar | eliminar</p>
            </div>
        <% end %>    
    <% else %>
    <p>None tasks</p>
    <% end %>
</div>